
OpenHardwareMonitor/Aga.Controls.dll
OpenHardwareMonitor/License.html
OpenHardwareMonitor/OpenHardwareMonitor.config
OpenHardwareMonitor/OpenHardwareMonitor.exe
OpenHardwareMonitor/OpenHardwareMonitorLib.dll
OpenHardwareMonitor/OxyPlot.dll
OpenHardwareMonitor/OxyPlot.WindowsForms.dll
OpenHardwareMonitor/OpenHardwareMonitorLib.sys
client_rx_tx/client_rx_tx.ino
__pycache__/dinodisp.cpython-38.pyc
__pycache__/rx_tx.cpython-38.pyc
__pycache__/dinodisp.cpython-38.pyc
*.pyc
errors.txt
rx_tx.py
